<div class="container">
  <div class="formulario">
    <div>
      <img src="../assets/undraw_address_re_yaoj.svg" alt="">
    </div>
    <div class="card">
      <h1>Buscar Cep:</h1>
      <div class="actions">
        <input [(ngModel)]="cep" type="text">
        <button (click)="pesquisarCep()">Pesquisar</button>
  
      </div>
      <div class="texts">
        <h3>Logradouro: {{cepData.logradouro}}</h3>
        <h3>Bairro: {{cepData.bairro}}</h3>
        <h3>Cidade: {{cepData.localidade}}</h3>
        <h3>Estado: {{cepData.uf}}</h3>
        <h3>DDD: {{cepData.ddd}}</h3>
      </div>
    </div>
   


  </div>
</div>